<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d [%t] (%F:%L) (%M) - %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="500"/>
		<appender-ref ref="dailyRoll"/>
	</appender>

	<appender name="dailyRoll" class="org.apache.log4j.RollingFileAppender">
<!-- 		<param name="file" value="//" /> -->
<!-- 		<param name="file" value="${log4jPath}/logs.log" /> -->
	<!-- 	<param name="MaxFileSize" value="1MB" /> -->
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d [%t] (%F:%L) (%M) - %m%n" />
		</layout>
	</appender>

	<logger name="org.hibernate" additivity="false">
       <level value="DEBUG" />
       <appender-ref ref="console" />
       <appender-ref ref="ASYNC" />
   </logger>
<!-- 	<logger name="org.hibernate.SQL" additivity="false" >   
		<level value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="ASYNC" />
	</logger> -->
<!-- 	<logger name="org.hibernate.type" additivity="false" >
		<level value="TRACE" />
		<appender-ref ref="console" />
		<appender-ref ref="ASYNC" />
	</logger> -->

	<logger name="com.spring" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="ASYNC" />
	</logger>

	<root>
		<priority value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="ASYNC" />
	</root>
</log4j:configuration>